doctype
html(lang="en")

  head

    meta(charset="utf-8")
    title=title
    link(rel="stylesheet", type = "text/css", href="./stylesheets/stylesheet.css")
    link(href="https://fonts.googleapis.com/css?family=Alegreya", rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Bungee+Shade", rel="stylesheet")
    link(rel="stylesheet", type = "text/css", href="./stylesheets/loadingAnimation.css")
    script(src='./javascripts/render.js')

  body(style="height: 600px;")
    ul
      li
        a(onclick="location.assign('/')") Home
      li
        a(href="./about.html") About
      li(id="jiveList")
        h3(style="color: white") Powered By:
          a(id="jiveLink", href="./jive.html") Jive
    div(id="align-center") 
      h1="It's A Hit!"
    div(class="content-wrap")
      div(class="canvas-container")
        canvas(id="canvas")
      div(class="align-center")
        div(class="hit")
          p(style="font-family: sans-serif; font-size: 100%; text-align: left; text-indent: 40px;")="Your song is a hit! Congratulations, take the music industry by storm! Above you'll find an audio visualization of your song. Each of the bars represents a range of frequencies that were analyzed by our algorithm.  If you'd like to read more about why your song was considered a hit, or how we constructed and trained the algorithm, check out the about tab in the top left. Thank you for using thehitsongs.com!"
      div(id="align-center")
        div(id="reload-container", class = "bouncing-effect")
          p(id="reload", style="font-family: sans-serif;") Try another song!
    audio(id="audio", src=songPath, controls)
